<!DOCTYPE html>
<html>
<head>
    <title>Metamask validator</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="shortcut icon" type="image/png" href="favicon.ico"/>

</head>
<body class ="body">
<div class="head">
<H1 class="h1">  This page verify if your Metamask wallet exist</H1>
<H2>  and shows Ethereum address and your balance</H2>
<hr>
</div>
<br/>
<br/>
<br/>
<form name="myForm" >
    <table class="inputPart">
        <tr>
            <td><img id="vermetamask_pic" src="./img/fail.png" alt="Fail Icon" width="24" height="24"></td>
            <td><label id="vermetamask" class="red-text">Metamask should be installed</label></td>
            <td></td>
        </tr>
        <tr>
            <td><img id="vermetamask_net_pic" src="./img/fail.png" alt="Fail Icon" width="24" height="24"></td>
            <td><label id="vermetamask_net" class="red-text">Ropsten Testnet should be selected</label></td>
            <td></td>
        </tr>
        <tr>
            <td><img id="vermetamask_addr_pic" src="./img/fail.png" alt="Fail Icon" width="24" height="24"></td>
            <td><label id="vermetamask_addr" class="red-text">Metamask wallet address undefined</label></td>
            <td></td>
        </tr>
        <tr>
            <td><img id="vermetamask_bal_pic" src="./img/fail.png" alt="Fail Icon" width="24" height="24"></td>
            <td><label id="vermetamask_bal" class="red-text">Ethereum ballance undefined</label></td>
            <td></td>
        </tr>
        <tr>
            <td >
                <br/>
                <br/>
                <br/>
            </td>
            <td ><div class="email-box">
                               <img src="./img/ethereum20.png" alt="Ether icon" style="width:40px;height:40px;">
                              <!-- <input class="tbox" name="fname" style="font-size:20px;" autofocus name="A" type="text" id="cardValue" placeholder="Please input your wallet adress" size="40" > -->
                              <!-- <input class="btn" id="presspay" type="submit" value="Pay ether"> -->
                    <button class="btn" type="button" name="button" onclick="return payEther()">Pay ether</button>
                    <button class="btn" type="button" name="button" onclick="return testServer()">Test Server</button>
                 </div>
            </td>
            <td ></td>
        </tr>
        <tr>
            <td ><label id="transactioninprogress" class="transhash">Transaction in progress....</label></td>
            <td ><label id="transactionresult" class="transhash">Transaction succeeded</label></td>
            <td ></td>
        </tr>
        <tr>
            <td colspan="3"><label id="transactionError" class="transhash"></label></td>
        </tr>
        <tr>
            <td colspan="3"><label id="transactionResultFromServer" class="transhash"></label></td>
        </tr>


    </table>
</form>
<br/>
<br/>
<br/>
<br/>
<script type="text/javascript" src="verification.js"></script>
<script>
    window.addEventListener('load', function () {
        init();
    });
</script>
<script type="text/javascript" src="socket.io.js"></script>
<script type="text/javascript" src="clientSideETH.js"></script>
<!--<script src="/socket.io/socket.io.js"></script> -->
<!--<script>var socket = io.connect('http://localhost:62001');</script>  -->
</body>
</html>
