.body{
margin:0;
padding:0; 
}
.h1{
margin:0;   
}
.head{
    background: #CFD8DC;
    background-repeat: no-repeat;
    background-size: cover; 

}
.inputPart{
    width: 100%;
}
.inputPart td{
width: 33%;
text-align: center;
}
.headTitle{
    text-align: center; 
}
.links-text{
    font-size: 16pt;
    margin: 25px;
    color: #232323;
    }
.Error404-text{
    font-size: 32pt;
    margin: 25px;
    color: #232323;
}
.EJSviewHead{
    width: 100%;
    border: 1px double #080808; 
}
.EJSviewHead td{
    width: 20%;
    text-align: center;
    border: 1px double #080808;
    color: #ffffff;
    background-color: #000000;
    font-weight: bold;
}
.EJSview{
    width: 100%;
    border: 1px double #080808; 
}
.EJSview td{
    width: 20%;
    text-align: center;
    font-size: 12pt;
    overflow: hidden;
    border: 1px double #0a0a0a; 
}
.red-text{
    text-align: center;
    color: #f71717;
    font-weight: bold;
    font-size: 17pt;
}
.green-text{
    text-align: center;
    color:#424242;
    font-weight: bold;
    font-size: 17pt;
}
.email-box{
    height: 40px;
    justify-content: center;
    display: flex; /*its better to use inline-flex*/
      }
  .email-box i{
    background: #2f3542;
    width: 40px;
    line-height: 40px;
  }
  .tbox,.btn{
    border: none;
    outline: none;
  }
  .tbox{
    width: 0px;
    transition: 0.6s;
  }
  .email-box:hover > .tbox,.tbox:focus{
    width: 290px;
    padding: 0 10px;
  }
  .btn{
    background: #2f3542;
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .transhash{
    visibility: hidden;
    text-align: center;
    color:#424242;
    font-weight: bold;
    font-size: 17pt;
  }
    